.App {
  text-align: center;
}

.homeDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* aside {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
} */